nav{
    justify-content: left;
    text-align: left;
    padding-top: 20px;

}

.navlist {
    list-style: none;
    
}

.navList li {
    display: inline;
    padding-right: 20px;
    
}

.navList li a{
    text-decoration-line: none;
    color: teal;
    background-color: rgb(211, 240, 240);
    padding: 10px 70px 10px 70px
}


h1{
    text-align: left;
    padding: 20px;
    padding-bottom: 10px;
    display: block;
    font-size: 1.40em;
    margin-block-start: 30px;
}



h3 {
    text-align: left;
    padding-left: 20px;
    display: block;
    font-size: 1.00em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
    color: rgb(157, 163, 154);
}

h4 {
    text-align: left;
    padding-left: 20px;
    padding-top: 0%;
    display: block;
    font-size: 1.00em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
    color: rgb(157, 163, 154);
}




.middleEastQuiz{
    align-items: center;
    display: flex;
    justify-content: center;
}

*{
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.middleEastQuiz {
    align-items: center;
    justify-content: center;
    display: flex;
}
#quiz {
	margin-left: 20px;
	background:rgb(117, 201, 201);
	padding: 20px 30px 20px 30px;
	width: 500px;
	border-radius: 10px;
	float: left;
}
input {
	margin-bottom: 20px;
	display: block;
}
#textbox {
    height: 30px;
    width: 400px;
	font-size: 15px;
	border-radius: 20px;
	border: none;
}

#button {
	background:rgb(250, 0, 0);
	border: none;
	border-radius: 60px;
	padding: 15px;
	color: #000000;
	font-size: 17px;
	transition-duration: .5s;
	margin-top: 20px;
}
#button:hover {
	background: rgb(255, 208, 0);
	border: 1px solid rgb(0, 0, 0);
	color: black;
	cursor: pointer;
}



#after_submit {
	visibility: hidden;
	background:rgb(255, 208, 0);
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-top-right-radius: 40px;
    font-size: 30px;
    margin-left: 700px;
}

#div {
    display: block;
}
#picture {
	width: 375px;
	height: 245px;
}

#message {
    padding-top: 20px;
    color: teal;
}
#number_correct{
    padding-top: 20px;
    color: teal;

}
#Qs {
    display: inline;
    cursor: pointer;
} 